html,
body {
  height: 100%;
}

.exp-form-columns-right {
  padding-top: 6rem;
}

.hero {
  margin-bottom: 3rem;
}

#login-page {
  min-height: calc(100vh - 70px);
  background-image: url('/public/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-buttons {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-in {
  margin-right: 1rem;
}

.log-out {
  margin-left: 1rem;
}

#logo-override {
  max-height: 4.75rem;
}

.notes {
  white-space: pre-line;
}

.sortby-container,
#filter {
  padding-left: 1rem;
}

.description-container {
  padding-top: 1rem;
  padding-left: 1rem;
}

.search-container {
  padding-left: 0.5rem;
  padding-right: 11rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.columns .button {
  margin-top: auto;
}

.delete-button-container {
  padding-top: 3rem;
}

#deletebutton {
  float: right;
  margin-right: 1rem;
}

.link:hover {
  background-color: rgb(240, 248, 176);
  cursor: pointer;
}

.create-link {
  float: right;
}

.text-red {
  color: red;
}

#search {
  padding: 0.5rem;
}

.txtalign {
  text-align: center;
}

/* Modal */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.opacity-80 {
  opacity: 0.8;
}

.inset-40 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-10 {
  padding: 2.5rem;
}

.flex {
  display: flex;
}
.h-full {
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.rdrDefinedRangesWrapper {
  width: 153px !important;
}
.rdrDateRangePickerWrapper {
  padding-right: 2rem;
}

#hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .rdrDateRangePickerWrapper {
    flex-direction: column;
  }
  .delete-button-container {
    margin-bottom: 3rem;
  }
}
